/* STYLING FOR CODE BLOCKS IN MARKDOWN FILES */

.highlighter-rouge{
    background-color: $mainBackgroundColour;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 85%;
    letter-spacing: 0;
    word-spacing: -5px;
    overflow-x: auto;
}

blockquote .highlighter-rouge{
    background-color: $noticeTipBorderAlpha;
}

.notice-warn .highlighter-rouge{
    background-color: $noticeWarnBorderAlpha;
}

#post-intro-text div[class^="language"],
.post-content-text div[class^="language"]{
    width: 80%;
    margin: 30px auto;
    font-size: 78%;
    padding: 0 0 0 2px;
    background-color: $mainBackgroundColour;
    border-radius: 4px;
}

.codeblock-highlight{
    background-color: $mainBackgroundColour;

    .gutter{
        padding: 3px 5px;
        font-size: 85%;
        user-select: none;
    }

    .code{
        padding-left: 6px;
        pre{
            letter-spacing: 0.2px;
            word-spacing: 0px;
            font-size: 85%;
        }
    }

}