<article class="{{ include.articleType }}">
    <div class="{{ include.wrapperType }}">

        {% if post.serieslink %}
            {% assign postUrl = # %}
        {% else %}
            {% assign postUrl = post.url %}
        {% endif %}

        <a
            class="{{ include.thumbnailLinkType }}"
            href="{{ postUrl }}"
            onclick="{% if post.serieslink %}return renderSeriesPosts(){% endif %}"
        >
            {% if include.thumbnailType == 'article-thumbnail' %}
                <figure class="{{ include.thumbnailType }}" style="background-image:url(/{{ post.thumbnail }})"></figure>
            {% else %}
                <figure class="{{ include.thumbnailType }}" style="background-image:url(/{{ post.image }})"></figure>
            {% endif %}
        </a>

        <summary class="article-summary">

            <a
                href="{{ postUrl }}"
                onclick="{% if post.serieslink %}return renderSeriesPosts(){% endif %}"
            >
                <h3 class="article-title"><strong><em>{{ post.title }}</em></strong></h3>

                {% unless post.serieslink %}
                    <div class="article-meta">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                        <span class="article-meta-data" href="#">{{ post.date | date: '%d %b %Y' }}</span>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span class="article-meta-data" href="#">{{ post.time }} read</span>
                    </div>
                {% endunless %}

                {% if include.displayIntro %}
                    <p class="article-heading">{{ post.heading }}</p>
                {% endif %}

            </a>

            {% if include.displayTags %}
                <div class="article-tags">
                    <i class="fa fa-tags" aria-hidden="true"></i>

                    {% for tag in post.tags %}
                        <a class="tag-name" href="#">{{ tag }}</a>
                    {% endfor %}

                </div>
            {% endif %}

        </summary>
    </div>
</article>
