<header id="index__page-header">
    <div id="index__header-components" class="index__header-components">
        <div>
            <i class="fa fa-user-circle-o index__header-icon"></i>
        </div>
        <div id="index__header-title" class="index__header-title">
            <a href="/">OpenAsset InDesign Plugin</a>
        </div>
        <div id="index__header-icon-menu-div" onclick="
                            toggleClass(this.id, 'index__header-menu-icon-open');
                            toggleClass('index__header-components', 'index__header-components-menu-open');
                            toggleClass('index__header-navigation', 'index__header-menu-open')">
            <i class="fa fa-server index__header-icon"></i>
        </div>
    </div>
    <nav id="index__header-navigation" class="index__header-navigation">

    </nav>
    <div id="index__header-categories">
        <div class="header-category">
            Front-End
        </div>
        <div class="header-category">
            Server-Side
        </div>
        <div class="header-category">
            Build &amp; Test
        </div>
        <div class="header-category">
            Database
        </div>
        <div class="header-category">
            Hardware
        </div>
    </div>
</header>