<header id="index__page-header">
    <div id="index__header-components" class="index__header-components">
        <div class="index__header-icon-menu-wrapper">
            <i class="fa fa-user-circle-o index__header-icon"></i>
        </div>
        <div id="index__header-title" class="index__header-title">
            <a href="/">Through the Stack</a>
        </div>
        <div class="index__header-icon-menu-wrapper">
            <i class="fa fa-search index__header-icon"></i>
            <div id="index__header-icon-menu-btn" onclick=
                    "toggleClass(this.id, 'index__header-menu-icon-open');
                    toggleClass('index__header-components', 'index__header-components-menu-open');
                    toggleClass('index__header-categories', 'index__header-categories-open');
                    toggleClass('index__main-page-content', 'header-open-blur-main');
                    toggleClass('index__main-page-overlay', 'index__main-page-overlay-visible');
                    toggleClass('index__header-navigation', 'index__header-menu-open')"
            >
                <i class="fa fa-server index__header-icon"></i>
            </div>
        </div>
    </div>
    <!-- <nav id="index__header-navigation" class="index__header-navigation">
        <div>
            <ul>
                <li class="index__header-nav-items-top"><a href="/"><span>Home</span></a></li>
                <li class="index__header-nav-items-top"><a href="/about"><span>About</span></a></li>
                <li class="index__header-nav-items-top"><a href="/blog"><span>Blog</span></a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="index__header-nav-items-bottom"><a href="/demos"><span>Demos</span></a></li>
                <li class="index__header-nav-items-bottom"><a href="/projects"><span>Projects</span></a></li>
            </ul>
        </div>
        <span class="index__header-nav-stack-search">Select an area of the Tech Stack</span>
    </nav> -->

    <nav id="index__header-navigation" class="index__header-navigation">
        <div id="index__header-nav-display-wrapper">

            <div id="index__header-nav-icon-btns" onmouseleave="menuPreviewModifier(0)">
                <i
                    class="fa fa-home index__header-icon"
                    onmouseenter="menuPreviewModifier(1)"
                ></i>
                <i
                    class="fa fa-question-circle-o index__header-icon"
                    onmouseenter="menuPreviewModifier(2)"
                ></i>
                <i
                    class="fa fa-book index__header-icon"
                    onmouseenter="menuPreviewModifier(3)"
                ></i>
                <i
                    class="fa fa-laptop index__header-icon"
                    onmouseenter="menuPreviewModifier(4)"
                ></i>
                <i
                    class="fa fa-graduation-cap index__header-icon"
                    onmouseenter="menuPreviewModifier(5)"
                ></i>
            </div>

            <div id="index__header-nav-preview-pane">
                <p>Select an icon to see menu</p>
            </div>

        </div>
    </nav>

    <div id="index__header-categories">
        <div class="header-category">
            <i class="fa fa-desktop"></i>
            <span>Front-End</span>
        </div>
        <div class="header-category">
            <i class="fa fa-server"></i>
            <span>Server-Side</span>
        </div>
        <div class="header-category">
            <i class="fa fa-cogs"></i>
            <span>Build &amp; Test</span>
        </div>
        <div class="header-category">
            <i class="fa fa-database"></i>
            <span>Database</span>
        </div>
        <div class="header-category">
            <i class="fa fa-hdd-o"></i>
            <span>Hardware</span>
        </div>
    </div>
</header>