<header id="index__page-header">
    <div id="index__header-components" class="index__header-components">
        <div>
            <i class="fa fa-user-circle-o index__header-icon"></i>
        </div>
        <div id="index__header-title" class="index__header-title">
            <a href="/">OpenAsset InDesign Plugin</a>
        </div>
        <div id="index__header-icon-menu-div" onclick="
                            toggleClass(this.id, 'index__header-menu-icon-open');
                            toggleClass('index__header-components', 'index__header-components-menu-open');
                            toggleClass('index__header-categories', 'index__header-categories-open');
                            toggleClass('index__main-page-content', 'header-open-blur-main');
                            toggleClass('index__main-page-overlay', 'index__main-page-overlay-visible');
                            toggleClass('index__header-navigation', 'index__header-menu-open')">
            <i class="fa fa-server index__header-icon"></i>
        </div>
    </div>
    <nav id="index__header-navigation" class="index__header-navigation">
        <ul>
            <li>Page One</li>
            <li>Page Two</li>
            <li>Page Three</li>
            <li>Page Four</li>
        </ul>
    </nav>
    <div id="index__header-categories">
        <div class="header-category">
            <i class="fa fa-desktop"></i>
            <span>Front-End</span>
        </div>
        <div class="header-category">
            <i class="fa fa-server"></i>
            <span>Server-Side</span>
        </div>
        <div class="header-category">
            <i class="fa fa-cogs"></i>
            <span>Build &amp; Test</span>
        </div>
        <div class="header-category">
            <i class="fa fa-database"></i>
            <span>Database</span>
        </div>
        <div class="header-category">
            <i class="fa fa-hdd-o"></i>
            <span>Hardware</span>
        </div>
    </div>
</header>