<header id="page-header" class="row">
	<div class="col span-1-of-3">
		<div id="logo">
			<p><a href="/">aDesmier</a></p>
			<div id="subdomain-links">
                <h4><a href="https://twitter.com/adweb_dev" target="_blank">@adweb_dev</a></h4>
                <!-- <h4><a href="#">Photography</a></h4>
                <h4><a href="#">Blog</a></h4> -->
            </div>
		</div>
	</div>
	<nav class="col span-2-of-3">
		<ul id="header-main-nav">

			<li class="header-main-nav-item
				{% if page.url == '/' %} header-main-nav-item--current
				{% endif %}"><a href="/">Home</a></li>

			<li class="header-main-nav-item
				{% if page.url contains '/about' %} header-main-nav-item--current
				{% endif %}"><a href="/about">About</a></li>


			<li class="header-main-nav-item
				{% if page.url contains '/blog' %} header-main-nav-item--current
				{% endif %}"><a href="/blog">Blog</a></li>


			<li class="header-main-nav-item
				{% if page.url contains '/portfolio' %} header-main-nav-item--current
				{% endif %}"><a href="/portfolio">Portfolio</a></li>


			<li class="header-main-nav-item
				{% if page.url contains '/projects' %} header-main-nav-item--current
				{% endif %}"><a href="/projects">Projects</a></li>


			<li class="header-main-nav-item
				{% if page.url contains '/contact' %} header-main-nav-item--current
				{% endif %}"><a href="/contact">Contact</a></li>

		</ul>
	</nav>
</header>
