<div id="blog__react-root"></div>

<!-- <section id="blog__blog-post-section-wrapper" class="row section multi-card-flex-container">

    {% comment %}
    {% for post in site.posts %}

        {% if post.category == 'series' %}
            {% continue %}
        {% endif %}

        <div class="blog__blog-post-flexgrid-wrapper grid-card hover multi-width-card">

            {% include _common/article-summary.html articleType='' wrapperType='blog-post-inner-wrapper'
            thumbnailLinkType='' thumbnailType='blog-post-thumbnail'
            displayIntro=true displayTags=false %}

            <div class="article-tags">
                <i class="fa fa-tags" aria-hidden="true"></i>

                {% for tag in post.tags %}
                    <a class="tag-name" href="/blog/?search={{tag}}">{{ tag }}</a>
                {% endfor %}

            </div>

        </div>

    {% endfor %}
    {% endcomment %}

</section> -->
