/* STYLING FOR CODE BLOCKS IN MARKDOWN FILES */
.highlighter-rouge{
    background-color: #f9f9f9;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 85%;
    letter-spacing: 0;
    word-spacing: -5px;
    overflow-x: auto;
}

blockquote .highlighter-rouge{
    background-color: $noticeTipBorderAlpha;
}
.notice-update .highlighter-rouge{
    background-color: $noticeUpdateBorderAlpha;
}
.notice-warn .highlighter-rouge{
    background-color: $noticeWarnBorderAlpha;
}
//.notice-error .highlighter-rouge{
//    background-color: $noticeErrorBorderAlpha;
//}

#post-intro-text div[class^="language"],
.post-content-text div[class^="language"]{
    width: 80%;
    margin: 30px auto;
    font-size: 80%;
    padding: 0 0 0 2px;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.codeblock-highlight{
    background-color: #f9f9f9;

    .gutter{
        padding: 3px 5px;
        font-size: 85%;
        border-right: 3px solid #fff;
        user-select: none;
    }

    .code{
        padding-left: 6px;
        pre{
            letter-spacing: 0.2px;
            word-spacing: 0px;
            font-size: 85%;
        }
    }

}

/**************************/
