/* COLOUR VARIABLES */

//colours for blockquote and notice tips on blog posts
$noticeTip: rgba(52, 152, 219, 0.1);
$noticeTipBorder: rgb(74, 139, 181);
$noticeTipBorderAlpha: rgba(41, 128, 185, 0.4);
$noticeUpdate: rgba(26, 188, 156, 0.1);
$noticeUpdateBorder: rgb(73, 194, 170);
$noticeUpdateBorderAlpha: rgba(22, 160, 133, 0.4);
$noticeWarn: rgba(241, 196, 15, 0.1);
$noticeWarnBorder: rgb(241, 182, 88);
$noticeWarnBorderAlpha: rgba(243, 156, 18, 0.4);
//$noticeError: rgba(231, 76, 60, 0.3);
//$noticeErrorBorder: rgb(192, 57, 43);
//$noticeErrorBorderAlpha: rgba(192, 57, 43, 0.4);

//**********global site colours**********
$mainFontColour: #333;
$fontSelectionColour: rgb(185, 220, 235);
$articleMetaTagColour: #a8a8a8;



//MAIN MENU ITEMS
$menuItemActive: $mainFontColour;
$menItemNonActive: #b5b5b5;
$menuItemHover: #696969;

/********************/

/* FONT VARIABLES */

$mainFontStyle: 'Karla', sans-serif;
$logoFontStyle: 'Patua One', cursive;
$mainFontSize: 20px;

/******************/


/* FULL ELEMENT SELECTORS */

*{
    box-sizing: border-box;
}

body{
	font-family: $mainFontStyle;
	font-size: $mainFontSize;
	background-color: #f9f9f9;
    color: $mainFontColour;
}

main{
    margin-top: 100px;
}

h1{
    margin: 0;
    padding: 0;
}

h2,h3{
    letter-spacing: 0.5px;
}

a{
	text-decoration: none;
    &:link{
        color: currentColor;
    }
    &:visited{
        color: currentColor;
    }
}

p{
    letter-spacing: 0.1px;
}

article,
figure{
    margin: 0;
    padding: 0;
}

button{
    border: none;
    background-color: transparent;
    &:focus{
        outline: 0;
    }
}

.row{
	max-width: 1140px;
}

/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 20px auto 0 auto;
}

/* CLEAR FLOATS CLASS */
.clear-float{
    clear: both;
}

/**************************/

//change colour of highlighted text
::selection {
  background: $fontSelectionColour; /* WebKit/Blink Browsers */
}
