/*
Contains stylings for the grid cards that various site content will be placed in
*/

.grid-card{
    height: auto;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 1px 0 #d6d6d6;
    transition: all 0.3s;

    h2 i{
        margin-right: 5px;
        font-size: 90%;
        color: #333;
    }
    h1,h2{
        font-family: 'Patua One', cursive;
        font-weight: 500;
        font-size: 110%;
        color: #333;
    }
    h3{
        font-size: 100%;
    }
    hr{
        border-top: 1px solid #d6d6d6;
        border-bottom: 1px solid #fff;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        width: 95%;
        margin: 5px auto 0 auto;
    }
    p{
        font-weight: 300;
        font-size: 80%;
    }
}

/*
Make the grid card hover on mouse over
*/
.grid-card.hover{
    &:hover{
        box-shadow: 0 3px 6px 0.5px #d6d6d6;
        transform: translate3d(0, -3px, 0);
        transition: all 0.3s;
    }
}

.full-width-card{
    width: 95%;
    margin: 0 auto 15px auto;
}

.multi-width-card{
    flex: 30%;
    margin: 5px;
}

.multi-card-flex-container{
    width: 95%;
    margin: 0 auto 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.multi-width-card-justify{
    height: auto;
    &:last-of-type{
        h2{
            text-align: right;
            margin-bottom: 5px;
            i{
                margin-left: 8px;
                margin-right: 15px;
            }
        }
    }
}

/*
Used on post pages where grid card will contain content as a fixed header
*/
// .grid-card.sticky-element{
//     background-color: #fefefe;
//     box-shadow: none;
//     border-bottom: 1px solid #d6d6d6;
//     border-left: 1px solid #d6d6d6;
//     border-right: 1px solid #d6d6d6;
//     border-top-left-radius: 0;
//     border-top-right-radius: 0;
//     transition: none;
//     p{
//         font-size: 65%;
//         font-weight: bold;
//     }
//     h3{
//         font-weight: 300;
//         font-size: 75%;
//         margin-top: 1px;
//     }
//     img{
//         border-radius: 3px;
//     }
// }

.ribbon-card{
    position: relative;
}
.corner-ribbon{
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    &:before,
    &:after{
        position: absolute;
        z-index: -1;
        content: '';
        display: block;
        border: 5px solid #2980b9;
    }
    span{
        position: absolute;
        display: block;
        width: 225px;
        padding: 5px 10px 5px 0;
        background-color: #3498db;
        text-align: center;
        font-size: 75%;
    }
}
.ribbon-top-left{
    top: -10px;
    left: -10px;
    &:before,
    &:after{
        border-top-color: transparent;
        border-left-color: transparent;
    }
    &:before{
        top: 0;
        right: 29px;
    }
    &:after{
        bottom: 29px;
        left: 0;
    }
    span{
        right: -20px;
        top: 30px;
        transform: rotate(-45deg);
    }
}
