#index__page-header{
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    //margin-bottom: 100px;
}

#index__header-components{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 0 20px;
    div[id=index__header-icon-menu-div]{
        cursor: pointer;
        transition: transform 0.3s;
    }
}

.index__header-components{
    background-color: #fff;
    transition: background-color 0.3s;
    border-bottom: 1px solid #d4d4d4;
    .index__header-icon{
        font-size: 120%;
    }
}

#index__header-title{
    font-family: $logoFontStyle;
    font-size: 130%;
    letter-spacing: 0.5px;
    a:hover {
        color: $accentColour;
    }
}

.index__header-navigation{
    height: 0px;
    background-color: #fff;
    border-bottom: 0px;
    transition: height 0.3s;
}

#index__header-categories{
    display: flex;
    background-color: #fff;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.23);
    .header-category{
        flex: 1;
        text-align: center;
        text-transform: uppercase;
        font-size: 60%;
        letter-spacing: 0.5px;
        color: $mainFontColour;
        border-left: 1px solid #d4d4d4;
        padding: 6px 0;
        cursor: pointer;
        &:hover{
            background-color: $accentColour;
        }

        //display for icons
        display: flex;
        flex-direction: column;
        i{
            display: none;
        }
    }
}

#index__header-navigation{
    background-color: #333;
    color: #fff;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    div{
        flex: 1;
        font-size: 130%;
    }
    ul{
        display: flex;
        height: 100%;
        list-style: none;
    }
    li{
        flex: 1;
        text-align: center;
        &.index__header-nav-items-top{
            align-self: center;
        }
        &.index__header-nav-items-bottom{
            align-self: flex-start;
        }
        a{
            transition: all 0.3s;
            &:hover{
                border: 1px solid $accentColour;
                border-radius: 2px;
                padding: 3px 7px;
                color: $accentColour;
                transition: all 0.3s;
            }
        }
    }
    span.index__header-nav-stack-search{
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        font-size: 90%;
        font-weight: bold;
        text-align: center;
    }
}

//ON CLICK CLASSES

// #index__main-page-content.header-open-blur-main{
    
// }

.index__header-menu-icon-open{
    transform: rotate(90deg);
    transition: transform 0.3s;
}

.index__header-menu-open{
    height: 300px;
    border-bottom: 1px solid #d4d4d4;
    transition: height 0.3s;
}

.index__header-components-menu-open{
    background-color: #333;
    transition: background-color 0.3s;
    border-bottom: 1px solid #333;
    .index__header-icon{
        color: #fff;
    }
    .index__header-title{
        color: #fff;
    }
}

#index__header-categories.index__header-categories-open > .header-category{
    i{
        display: block;
        font-size: 300%;
        padding-bottom: 10px;
    }
    padding: 10px 0;
}
