/**********************************************/
/* ARTICLE SUMMARY STYLINGS FOR MULTIPLE PAGES */
/**********************************************/

/* STYLINGS FOR USAGE ON HOME PAGE - LATEST POSTS SECTION */

.latest-post-preview{
    display: block;
    margin-top: 10px;
    color: $mainFontColour;
    transition: transform 0.3s;
    &:not(:last-of-type){
        margin-bottom: 10px;
    }
    &:hover{
        transform: translateX(3px);
        transition: transform 0.3s;
    }
}

.article-inner-wrapper{
    display: flex;
}

.article-thumbnail-link{
    display: flex;
    flex: 1;
}

.article-thumbnail{
    display: flex;
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 3px;
}

/**********************************************************/

/* STYLINGS FOR USAGE ON BLOG PAGE - BLOG POST GRID SECTION */

.blog-post-inner-wrapper{
    margin-top: 5px;
    margin-bottom: 3px;
}

.blog-post-thumbnail{
    height: 140px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 3px;
}

/**********************************************************/

/* COMMON ARTICLE SECTION STYLINGS */

.article-summary{
    flex: 4;
    padding: 3px 5px 10px 5px;
}


/* article-title article-meta article-tags
are present on both latest-posts on home page
and blog page */


.article-title{
    padding-top: 5px;
}

.article-meta{
    margin: 2px 0 7px 0;
    font-size: 65%;
    color: $articleMetaTagColour;
    i {
        margin-right: 5px;
    }
    span:first-of-type {
        margin-right: 10px;
    }
}

.article-tags{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0 0 3px 5px;
    i {
        font-size: 70%;
        margin-right: 5px;
        color: $articleMetaTagColour;
    }

    .tag-name{
        font-size: 65%;
        border: 1px solid $articleMetaTagColour;
        border-radius: 3px;
        padding: 1px 5px 0px 5px;
        transition: background-color 0.3s;
        color: $articleMetaTagColour;
        transition: color 0.3s;

        &:hover{
            background-color: $articleMetaTagColour;
            transition: background-color 0.3s;
            color: #fff;
            transition: color 0.3s;
        }
    }
}

.article-category-display{
    background-color: $mainBackgroundColour;
    display: inline-block;
    margin-top: 6px;
    margin-left: 6px;
    font-size: 65%;
    font-style: italic;
    border-radius: 12px;
    i {
        font-size: 90%;
        color: $mainBackgroundColour;
        background-color: $articleMetaTagColour;
        padding: 5px 7px 4px 7px;
        border-radius: 18px;
    }
    span {
        margin-left: 5px;
        margin-right: 8px;
    }
}

/************************************/

//////////////////////////////////////////////////////////
/* MEDIA QUERIES FOR LATEST-POSTS */ //TODO: Remove below code
//////////////////////////////////////////////////////////


@media only screen and (max-width: 920px){

    .article-summary{
        flex: 3
    }

    .article-thumbnail{
        flex: 0;
    }

}
