#site-footer__container{
    margin: 150px auto 50px auto;
    text-align: center;
    p{
        font-size: 75%;
        margin-bottom: 10px;
        q{
            font-style: italic;
        }
    }

    #site-footer__social-links{
        ul{
            list-style: none;
            margin-bottom: 10px;
        }
        li{
            display: inline;
            font-size: 120%;
            &:not(:last-of-type){
                margin-right: 20px;
            }
        }
    }

    #site-footer__social-links,
    #site-footer__text-links {
        a{
            transition: color 0.3s;
            &:hover{
                color: $accentColour;
                transition: color 0.3s;
            }
        }
    }
}