/************************************************/
/* Contains general stylings for the grid cards */
/* that various site content will be placed in  */
/************************************************/

.grid-card{
    height: auto;
    padding: 10px 15px 7px 15px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 1px 0 #d6d6d6;
    transition: all 0.3s;

    h2 i{
        margin-right: 5px;
        font-size: 90%;
        color: $mainFontColour;
    }
    h1,h2{
        font-family: $mainFontStyle;
        font-weight: 500;
        font-size: 110%;
        color: $mainFontColour;
    }
    h3{
        font-size: 100%;
    }
    hr{
        border-top: 1px solid #d6d6d6;
        border-bottom: 1px solid #fff;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        width: 95%;
        margin: 5px auto 0 auto;
    }
    p{
        font-weight: 300;
        font-size: 78%;
    }
}

/*
Make the grid card hover on mouse over
*/
.grid-card.hover{
    &:hover{
        box-shadow: 0 3px 6px 0.5px #d6d6d6;
        transform: translate3d(0, -3px, 0);
        transition: all 0.3s;
    }
}

/*
Full width cards will be displayed on the home page
*/
.full-width-card{
    width: 95%;
    margin: 0 auto 15px auto;
}

/*
Stylings for cards that will be displayed 2-3 per row.
Used on Blog page and related/recent posts sections
*/
.multi-width-card{
    // flex: 33%;
    display: flex; //article content with the card will be column flexed
    flex-direction: column;
}



.blog__blog-post-flexgrid-wrapper.multi-width-card{
    flex: 0 0 32%;
    justify-content: space-between; //drops article tags to bottom of card
    box-sizing: border-box;
    margin: 6px 0;
    &:nth-child(3n-1){ //https://codepen.io/tuxsudo/pen/VYERQJ
        margin-left: 12px;
        margin-right: 12px;
    }
}

.article-tags{
    a {
        margin-right: 5px;
        margin-bottom: 5px;
    }
}


//post page only!
#post-header-wrapper .article-tags {
    justify-content: center;
    margin-top: 10px;
}

//post page only!
#post__related-recent-posts-wrapper > .multi-width-card{
    margin: 5px;
    &:last-of-type{
        h2{
            text-align: right;
            margin-bottom: 5px;
            i{
                margin-left: 8px;
                margin-right: 15px;
            }
        }
    }
}

.multi-card-flex-container{
    margin: 0 auto 20px auto;
    display: flex;
    flex-flow: row wrap;
}

//Blog page only!
.blog__blog-post-section-wrapper.multi-card-flex-container{
    padding-left: 20px; //hack to center cards due to 'justify-content: center' centering last row
    padding-right: 5px;
}

//post page only!
#post__related-recent-posts-wrapper.multi-card-flex-container{
    //width: 95%;
    padding: 0 20px;
    justify-content: center;
}

//invert the colours for a posts contents section at width < 1100px
#post-section-wrapper-chapters .grid-card.invert-colours{
    background-color: #333;
    box-shadow: 0 2px 1px 0 #757575;
    color: #fff;
}