.site-header__skew-top-layer {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    transform-origin: right;
    backface-visibility: hidden;
    transition: background-color 0.3s linear;
}

.site-header__skew-fixed {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.95);
    transition: background-color 0.3s linear;
}

.site-header__title {
    font-family: MarvinVisions;
    color: #3fa6b4;
    font-size: 92px;
    text-align: right;
    line-height: 60px;
    position: absolute;
    top: 100px;
    right: 20px;
    z-index: 4;

    span {
        margin-left: 1px;
        text-shadow: -5px 0 10px rgba(34,51,68,.4)
    }
}

.site-header__skew-background {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(212deg, rgba(237, 235, 234, 0.9) 30%,rgba(63, 166, 180, 0.9) 130%), url('/assets/images/bgTest.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: right, center;
    background-size: auto, cover;
    transform: skewY(-10.5deg);
    transform-origin: left;
    backface-visibility: hidden;
    box-shadow: 0px 0px 5px 3px #b2b2b2;
}

.site-header__login-icon,
.site-header__search-icon-wrapper {
    z-index: 4;
    color: lighten(#3fa6b4, 10%);
    font-size: 30px;
    margin: 9px;
    cursor: pointer;
    transition: color 0.2s linear;

    &:hover {
        color: lighten(#3fa6b4, 20%);
        transition: color 0.2s linear;
    }
}

.site-header__login-icon {
    position: fixed;
}

.site-header__search-icon-wrapper {
    position: absolute;
    right: 2px;
    transform-origin: right;
    backface-visibility: hidden;
}
