.site-header__skew-top-layer {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    transform-origin: right;
    backface-visibility: hidden;
}

.site-header__skew-fixed {
    position: fixed;
}

.site-header__title {
    color: #3fa6b43d;
    font-size: 70px;
    text-align: right;
    line-height: 60px;
    position: absolute;
    top: 70px;
    right: 20px;
    z-index: 4;
}

.site-header__skew-background {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(212deg, rgba(237, 235, 234, 0.9) 30%,rgba(63, 166, 180, 0.9) 130%), url('/assets/images/bgTest.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: right, center;
    background-size: auto, cover;
    transform: skewY(-10.5deg);
    transform-origin: left;
    backface-visibility: hidden;
    box-shadow: 0px 0px 5px 3px #b2b2b2;
}