#main-content__container {
    position: relative;
    margin-top: 500px;
    width: 100%;
    background-color: rgba(63, 166, 180, 0.4);
    transform: skewY(10deg);
    transform-origin: left;
    backface-visibility: hidden;
    box-shadow: 0px 0px 5px 3px #b2b2b2;
    padding-bottom: 300px;
}

#main-content__content {
    transform: skewY(-10deg);
}

#main-content__skew-background {
    position: absolute;
    z-index: -1;
    bottom: -200px;
    left: 0;
    width: 100%;
    height: calc(100% + 200px);
    transform: skewY(-20deg);
    transform-origin: left;
    overflow: hidden;
    background: linear-gradient(25deg,#3fa6b4 -600%,#ffffff 50%,#3fa6b4 600%);
    backface-visibility: hidden;
    box-shadow: 0px 0px 5px 3px #b2b2b2;
}