#main-content__container {
    position: relative;
    height: 100%;
    padding-top: 200px;
    padding-bottom: 100px;
}

#main-content__skew-background-1 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(12deg);
    background-color: rgba(63, 166, 180, 0.4);
    box-shadow: 0px 0px 5px 3px #b2b2b2;
    backface-visibility: hidden;

    &.loading-state {
        background: linear-gradient(125deg,#3fa6b4 -80%,#ffffff 50%,#3fa6b4 120%);
        background-size: 400% 400%;
        animation: loading-effect 2.5s ease infinite;
    }
}

#main-content__skew-background-2 {
    position: absolute;
    z-index: -1;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-11deg);
    background: linear-gradient(25deg,#3fa6b4 -600%,#ffffff 50%,#3fa6b4 600%);
    box-shadow: 0px 0px 5px 3px #b2b2b2;
    backface-visibility: hidden;

    &.loading-state {
        background: linear-gradient(25deg,#3fa6b4 -80%,#ffffff 50%,#3fa6b4 120%);
        background-size: 400% 400%;
        animation: loading-effect 2.5s ease infinite;
    }

    #main-content__spinner {
        transform:  skewY(10deg);
    }
}

@keyframes loading-effect {
    0% {
        background-position:0% 50%
    }
    50% {
        background-position:100% 50%
    }
    100% {
        background-position:0% 50%
    }
}

#main-content__content {
    margin-top: 300px;
}
