@media screen and (max-width: 1024px){

    #blog__blog-post-flexgrid-wrapper.multi-width-card{
        flex: 0 0 47%;
        //margin: 0.8% 0;
        &:nth-child(n-1){ //https://codepen.io/tuxsudo/pen/VYERQJ
            margin-left: 10px;
            margin-right: 4px;
        }
    }
    
}

@media screen and (max-width: 768px){
    
    #blog__blog-post-flexgrid-wrapper.multi-width-card{
        flex: 0 0 96%;
    }

    #blog__blog-post-section-wrapper.multi-card-flex-container{
        padding-left: 0px;
    }
    
}



