@media screen and (max-width: 1100px){
    .section-tutorial{
        display: block;
    }
    #post-section-wrapper-chapters{
        position: absolute;
        right: -280px;
        //right: -50px;
        top: 100px;
        width: 280px;
        transition: right 0.3s;
        &:hover{
            right: -50px;
            transition: right 0.3s;
        }
        div{
            padding-right: 50px;
        }
    }
}

@media screen and (max-width: 768px){
    #post-header-wrapper{
        #post-heading{
            width: 95%;
        }
    }
    #post-intro-text,
    .post-content-text{
        p{
            width: 95%;
            line-height: 24px;
        }
        .notice-update p,
        .notice-warn p,
        blockquote p{
            width: 90%;
            padding: 5px 5px 5px 15px;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            color: rgb(64, 77, 82);
            line-height: 27px;
            em{
                color: $mainFontColour;
                font-weight: bold;
            }
        }
    }
    .post-content-text div[class^="language"]{
        width: 90%;
    }
}
