@media screen and (max-width: 768px){
    #post-header-wrapper{
        #post-heading{
            width: 95%;
        }
    }
    #post-intro-text,
    .post-content-text{
        p{
            width: 95%;
            line-height: 24px;
        }
        .notice-update p,
        .notice-warn p,
        blockquote p{
            width: 90%;
            padding: 5px 5px 5px 15px;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            color: rgb(64, 77, 82);
            line-height: 27px;
            em{
                color: #333;
                font-weight: bold;
            }
        }
    }
    .post-content-text div[class^="language"]{
        width: 90%;
    }
}
